In [120]:
'''
TLDR
1.使用之前請確定你有一個log資料夾跟ipynb同目錄，這是XX_log解壓縮出來的
2.改下面的日期
3.Run all
'''
###############################################
log_date = "0730"

In [106]:
import glob

In [107]:
txt_lst = glob.glob('**/*.txt')
content_lst = []
model_output = []

In [108]:
for i in txt_lst:
    with open(i,'r',encoding="utf-8") as fp:
        all_lines = fp.readlines()
        try:
            content_lst.append(all_lines[0])
        except:
            content_lst.append(None)
            print("content except:", i)
        try:
            model_output.append(all_lines[4])
        except:
            model_output.append(None)
            print("model except:", i)

model except: log\1596017469_6633873.txt
model except: log\1596017472_1051142.txt
model except: log\1596017474_3321967.txt
model except: log\1596018639_000069.txt
model except: log\1596018642_1850424.txt
model except: log\1596018645_1978266.txt
model except: log\1596020499_3596568.txt
model except: log\1596020502_1786015.txt
model except: log\1596020505_0182092.txt
model except: log\1596020753_460719.txt
model except: log\1596020756_0259507.txt
model except: log\1596020758_6400957.txt
model except: log\1596107415_3659017.txt
model except: log\1596107417_9747412.txt
model except: log\1596107420_6578908.txt
model except: log\1596107461_20146.txt
model except: log\1596107463_6091175.txt
model except: log\1596107465_7307012.txt
model except: log\1596109182_6357083.txt
model except: log\1596109184_6962533.txt
model except: log\1596109186_8025463.txt
model except: log\1596109551_5059354.txt
model except: log\1596109554_7842016.txt
model except: log\1596109557_4316134.txt

In [109]:
# trimming return line
model_output = [i[:-1] if i != None else None for i in model_output]
content_lst = [i[:-1] for i in content_lst]

In [110]:
content_model_dupli = pd.DataFrame({
    "content": content_lst,
    "model_output": model_output
})

In [111]:
content_model_dupli

,content,model_output
0,高雄市?市長韓國瑜昨宣布的原住民委員會主委林國權，因吸金官司爭議，今早宣佈放棄職務。韓國瑜今...,"['朱學恒', '林國權', '陳其邁', '陳麗娜', '韓國瑜']"
1,〔記者邱安琪、陳星苓、楊佳慧／綜合報導〕國民黨前立委李和岳涉嫌以人頭詐領助理費五三二萬餘元，...,['李和岳']
2,這是測試文章,[]
3,MSCI明晟季度調整於台股27日收盤後生效，壓抑了整天的成交動能到了尾盤終於掀開鍋蓋，出現一...,[]
4,檢調偵辦「三鑫集團」以投資俄羅斯賭場等名目吸金12億元案，發現三鑫集團負責人曾裕仁去年因債務...,"['曾裕仁', '王妤昆', '謝發布', '陳男頭']"
...,...,...
780,12歲中二男生於10月初在旺角警署和太子站外牆噴上辱罵字句，遭便衣警員目睹並尾隨至住所。少年...,[]
781,原標題：雲南白藥擬推員工持股計劃股價大漲本次員工持股計劃所持有的股票累計不超過公司股本總額的...,[]
782,原標題：雲南白藥擬推員工持股計劃股價大漲本次員工持股計劃所持有的股票累計不超過公司股本總額的...,[]
783,2017年底，行政院拋出2035年禁售燃油機車的政策目標，但全台超過2萬家的機車行生計該如何...,[]
784,原標題：雲南白藥擬推員工持股計劃股價大漲本次員工持股計劃所持有的股票累計不超過公司股本總額的...,[]

In [112]:
from collections import Counter
import pandas as pd

In [113]:
'''
Counter:
https://stackoverflow.com/questions/11068986/how-to-convert-counter-object-to-dict
'''
content_count = dict(Counter(content_lst))
cnt_content_lst = []
cnt_cnt_lst = []

In [114]:
for key in content_count.keys():
    cnt_content_lst.append(key)
for value in content_count.values():
    cnt_cnt_lst.append(value)

In [115]:
content_cnt = pd.DataFrame({
    "content": cnt_content_lst,
    "cnt": cnt_cnt_lst
})

In [116]:
content_model_dupli

,content,model_output
0,高雄市?市長韓國瑜昨宣布的原住民委員會主委林國權，因吸金官司爭議，今早宣佈放棄職務。韓國瑜今...,"['朱學恒', '林國權', '陳其邁', '陳麗娜', '韓國瑜']"
1,〔記者邱安琪、陳星苓、楊佳慧／綜合報導〕國民黨前立委李和岳涉嫌以人頭詐領助理費五三二萬餘元，...,['李和岳']
2,這是測試文章,[]
3,MSCI明晟季度調整於台股27日收盤後生效，壓抑了整天的成交動能到了尾盤終於掀開鍋蓋，出現一...,[]
4,檢調偵辦「三鑫集團」以投資俄羅斯賭場等名目吸金12億元案，發現三鑫集團負責人曾裕仁去年因債務...,"['曾裕仁', '王妤昆', '謝發布', '陳男頭']"
...,...,...
780,12歲中二男生於10月初在旺角警署和太子站外牆噴上辱罵字句，遭便衣警員目睹並尾隨至住所。少年...,[]
781,原標題：雲南白藥擬推員工持股計劃股價大漲本次員工持股計劃所持有的股票累計不超過公司股本總額的...,[]
782,原標題：雲南白藥擬推員工持股計劃股價大漲本次員工持股計劃所持有的股票累計不超過公司股本總額的...,[]
783,2017年底，行政院拋出2035年禁售燃油機車的政策目標，但全台超過2萬家的機車行生計該如何...,[]
784,原標題：雲南白藥擬推員工持股計劃股價大漲本次員工持股計劃所持有的股票累計不超過公司股本總額的...,[]

In [117]:
tb = content_cnt.merge(content_model_dupli, on="content", how="left")

In [118]:
# drop based on condition, dunno why dropduplicates not work
tb = tb.drop(tb[tb[["content"]].duplicated()].index).reset_index(drop=True)

In [119]:
tb.to_csv(log_date + "log.csv")